.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  background-color: var(--light-blue);
  padding: 2em;
  border-radius: 1em;
  min-width: 300px;
  max-width: 90%;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

