#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: center;

  --white: #DEFFFF;
  --black: #00171F;
  --correct: #349F51;
  --wrong: #A81616;
  --light-blue: #00A8E8;
  --mid-blue: #007EA7;
  --dark-blue: #003459;
}
